.titleAide{
padding: 150px 0 15px 0;
text-align: center;
}
.positionVideo{
    left: 100%;
    text-align: center;
    padding: 25px;
}
.positionVideo h2{
    padding: 25px 0;
}
.video{
    border-radius: 40px;
    box-shadow: 3px 10px 25px #000000;
    padding: 5px;
  
}

.carousel {
    position: relative;
    width: 1600px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slides {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.5s ease-in-out; /* Pour une animation fluide */
  }
  
  .slide {
    min-width: 100%; /* Chaque diapositive occupe toute la largeur */
  }
  
  .controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
  }
  
  .prev, .next {
    background-color: rgb(255, 136, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
  }